body {
    margin: 0;
    padding: 0;
    width: 100vh;
    height: 100vh;
    background-color: #313030;
}

.horizontal-navigation {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
    background-color: #5d3c75;
}

.hn-right {
    float: right !important;
}

.vertical-navigation {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 100;
    background-color: #5d3c75;
}

.logo {
    margin: 30px;
    max-width: 80%;
}

.body-content {
    position: fixed;
    margin-top: 60px;
    margin-left: 250px;
    width: calc(100% - 250px);
}

.footer {

}
.language {
    display: inline-flex;
    width: 100px;
    height: 60px;
}
.img-language {
    width: 50px;
    height: 50px;
}


.login {
    height: 500px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    margin: 10% auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.login-form label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.login-form  input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.login-form button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
