body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #313030;
    color: white;
}

.horizontal-navigation {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
    background-color: #5d3c75;
    display: flex;
}

.hn-right {
    width: 20%;
}
.hn-left {
    width: 20%;
    display: flex;
}
.hn-center {
    width: 60%;
}
.div-name-website {
    font-size: 34px;
}
.name-website {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background-color: #ffffff;
    color: #080710;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
}
.categories {
    width: 100%;
    height: 50px;
    margin-top: 4%;
}

.category {
    margin-right: 5px;
    text-decoration: none;
    background-color: #714e88;
    color: #080710;
    padding: 5px 20px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
}

.logo {
    padding: 0 25px;
    width: 60px;
    height: 60px;
}

.body-content {
    position: fixed;
    margin-top: 60px;
    margin-left: 15%;
    width: 70%;
    min-height: 100vh;
}

.footer {

}
.language {
    display: inline-flex;
    width: 100px;
    height: 60px;
}
.img-language {
    width: 50px;
    height: 50px;
}


.form {
    height: 500px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    margin: 10% auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.login-form label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.login-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.form button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.registration-form {
    padding: 25px;
}

.registration-under {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 100px calc(100% - 90px);
}

.registration-under label {
    /*display: inline;*/
}


.registration-beside {
    display: grid;
    grid-template-columns: 50px 130px 50px 130px;
}