body {
    margin: 0;
    padding: 0;
    background-color: #313030;
    color: white;
}

.horizontal-navigation {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
    background-image: linear-gradient(to right, #a51bb2 0%, #6e18ab 100%);
    display: flex;
}

.hn-right {
    width: 20%;
}
.connected {
    float: right;
    display: grid;
    grid-template-columns: 200px;
}
.connected-btn {
    display: flex;
}

.hn-left {
    width: 20%;
    display: flex;

}
.hn-center {
    width: 60%;
}
.hn-center ul {
    margin: 0;
    text-decoration: none;
    display: flex;
    list-style-type: none;
}
.hn-center ul a {
    text-decoration: none;
    color: white;
}

.hn-center ul li {
    border-bottom: 1px solid #9b0cf8;
    margin-right: 10px ;
    font-size: 26px;
    padding: 14px;
}

.hn-center ul li:hover {
    background-color: #6a2496;
    cursor: pointer;
}

.div-name-website {
    font-size: 34px;
}
.name-website {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background-color: #ffffff;
    color: #080710;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
}
.categories {
    width: 100%;
    height: 50px;
    margin-top: 4%;
}

.category {
    margin-right: 5px;
    text-decoration: none;
    background-image: linear-gradient(to right, #f250ff 0%, #a958e5 100%);
    color: #080710;
    padding: 5px 20px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
}

.logo {
    padding: 0 25px;
    width: 60px;
    height: 58px;
}

.body-content {
    padding-top: 60px;
    margin-left: 15%;
    width: 70%;
}

.footer {

}
.language {
    display: inline-flex;
    width: 100px;
    height: 60px;
}
.img-language {
    width: 50px;
    height: 50px;
}


.form {
    height: 500px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    margin: 10% auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.login-form label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.login-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.form button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.registration-form {
    padding: 25px;
}

.registration-under {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 100px calc(100% - 90px);
}

.registration-under label {
    /*display: inline;*/
}


.registration-beside {
    display: grid;
    grid-template-columns: 50px 130px 50px 130px;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-show {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    width: 80%;
    height: 315px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.product-show-image {
    margin:  3% auto 0;
    padding: 0 0;
    width: calc(100% - 15%);
    height: 200px;
}

.product-show-name {
    margin: 0 auto;
    padding: 0 5%;
    font-size: 26px;
    height: 30px;
    overflow: hidden;
}
.product-show-price {
    padding: 0 0;
    margin: 0 auto;
}

.product-show-brand {
    padding: 0 0;
    margin: 0 auto;
}

.product-list-a {
    text-decoration: none;
    color: white;
}

.product-page {
    margin: 8% auto;
    width: 70%;
    display: flex;
}

.product-page-left {
    width: 70%;
}
.product-page-left-top {
    display: flex;
}

.product-page-left-top-image {
    padding: 3%;
}

.product-page-left-top-info {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr
}

.product-page-right {
    width: 25%;
    margin: auto auto;
}

.product-page-left-bottom h3 {
    text-decoration: underline;
}

.product-page-right input {

}

.product-page-add-btn {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
    margin: 15px auto;
}

.product-page-add-btn:hover {
    color: #fff;
}

.product-page-add-btn .product-page-add-btn-span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}

.product-page-add-btn:hover .product-page-add-btn-span {
    background: transparent;
}

.cart {
    position: fixed;
    margin-top: 3%;
    width: 70%;
    height: 80%;
    display: flex;
}

.cart-line {
    width: 70%;
    overflow-y: scroll;
}

.cart-paid {
    margin-left: 5%;
    width: 25% ;
}

.cart-paid h3 {
    text-align: center;
}

.cart-paid ul {
    list-style-type: none;
    font-size: 18px;
}

.cart-line-item {
    display: flex;
    max-height: 25%;
    width: 98%;
    margin-bottom: 2%;
    padding-bottom: 1%;
    border-bottom: 3px solid #252323;
}

.cart-line-item-image {
    padding-right: 5%;
}

.cart-line-item-info {
    display: block;
    width: 100%;
}

.cart-line-item-btn {
    display: flex;
}
.cart-line-item-info-title {
    font-size: 26px;
    font-weight: bold;
}
.delete {
    position: absolute;
    border: 1px solid red;
    max-height: 30px;
    max-width: 30px;
    margin-left: 64%;
    margin-top: 1%;
}

.bd {
    background: #313030;
}

.cart-line-item-info-cmudq {
    display: flex;
}
.cart-line-item-info-details {
    width: 25%;
}
.cart-line-item-btn-quantity {
    text-align: center;
    width: 75%;
    padding-top: 10%;
}



.btn-details {
    background-image: linear-gradient(to right, #f250ff 0%, #a958e5 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #b332d5;
    display: block;
    height: 35px;
    font-size: 0.9em;
    padding: 5px;
    position: relative;
    text-decoration: none;
    width: 8em;
    z-index: 2;
    margin: 15px 0;
}

.marginAuto {
    margin: 15px auto;
}

.btn-details:hover {
    color: #fff;
}

.btn-details .product-page-add-btn-span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}

.btn-details:hover .product-page-add-btn-span {
    background: transparent;
}
